
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>GCIT TSHOGYEN</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;900&display=swap" rel="stylesheet">

        <!--<link rel="stylesheet" href="css/icon-font.css">-->

        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        
        <!-- Fontawesome CDN Link -->
        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

        <!-- Fontawesome CDN Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        
    <body>
        <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
            </label>

            <div class="navigation__background">&nbsp;</div>

            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="/" class="navigation__link"><span>01</span>Home</a></li>
                    <li class="navigation__item"><a href="/login" class="navigation__link"><span>02</span>Login</a></li>
                    <li class="navigation__item"><a href="/registration" class="navigation__link"><span>03</span>Register</a></li>
                    <li class="navigation__item"><a href="/" class="navigation__link"><span>04</span>Contact</a></li>
                    <li class="navigation__item"><a href="/" class="navigation__link"><span>05</span>About Us</a></li>
                </ul>
            </nav>
        </div>

        <header class="header">
            <div class="header__logo-box">
                <img src="img/logo2.png" alt="Logo" class="header__logo">
            </div>

            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main">GCIT TSHOGYEN</span>
                    <span class="heading-primary--sub">An online voting platform</span>
                </h1>

                <a href="#section-tours" class="btn btn--white btn--animated">GCIT VIEW</a>
            </div>
        </header>

        <main>
            <section class="section-about">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        TERMS AND CONDITIONS FOR VOTING
                    </h2>
                </div>

                <div class="row">
                    <div class="col-1-of-2">
                        <h3 class="heading-tertiary u-margin-bottom-small">Even a single vote will make difference</h3>
                        <p class="paragraph">
                            * During the voting process, If we find any fraud / automatic bot related activities then your nomimation will be cancelled without prior notice.<br>
                            * The voting points or number of votes displayed in our website are will be the total of authenticated votes.<br>
                        </p>

                        <h3 class="heading-tertiary u-margin-bottom-small">Be honest and vigilant while voting</h3>
                        <p class="paragraph">
                            * By participating in the voting process, both the candidates and members will have to abide by the terms and conditions of this website.<br>
                            * We may send email confirmation to the selected students to participate for the councillor candidates.<br>
                        </p>

                        <a href="#" class="btn-text">Learn more &rarr;</a>
                    </div>
                    <div class="col-1-of-2">
                        <div class="composition">

                            <img srcset="img/home1.png 300w, img/nat-1-large.jpg 1000w"
                                 sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                                 alt="Photo 1"
                                 class="composition__photo composition__photo--p1"
                                 src="img/home1.png">

                            <img srcset="img/home2.jpg 300w, img/nat-2-large.jpg 1000w"
                                 sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                                 alt="Photo 2"
                                 class="composition__photo composition__photo--p2"
                                 src="img/home2.jpg">

                            <img srcset="img/home3.jpg 300w, img/nat-3-large.jpg 1000w"
                                 sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                                 alt="Photo 3"
                                 class="composition__photo composition__photo--p3"
                                 src="img/home3.jpg">
                        </div>
                    </div>
                </div>
                <hr>
            </section>

            <section class="section-tours" id="section-tours">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        PAST HISTORY OF VOTING
                    </h2>
                </div>

                <div class="row">
                    <div class="col-1-of-3">
                       <div class="card">
                           <div class="card__side card__side--front">
                                <div class="card__picture card__picture--1">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--1">The Iron Male Mouse Year</span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>Second Voting</li>
                                        <li>About 140 people</li>
                                        <li>8 Councillors Slot</li>
                                        <li>1st and 2nd Batch Students</li>
                                        <li>College Opening Excitement</li>
                                    </ul>
                                </div>
                           </div>
                           <div class="card__side card__side--back card__side--back-1">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Year</p>
                                        <p class="card__price-value">2020</p>
                                    </div>
                                    <!-- <a href="#popup" class="btn btn--white">VISIT</a> -->
                                </div>
                            </div>
                       </div>
                    </div>

                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture--2">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--2">The Iron Female Ox Year</span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>Third Voting</li>
                                        <li>About 250 people</li>
                                        <li>12 Councillors Slot</li>
                                        <li>2nd and 3rd Batch Students</li>
                                        <li>College Improvement Stage</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="card__side card__side--back card__side--back-2">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Year</p>
                                        <p class="card__price-value">2021</p>
                                    </div>
                                    <!-- <a href="#popup" class="btn btn--white">VISIT</a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture--3">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--3">The Water Male Dragon Year</span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>Fourth Voting</li>
                                        <li>About 450 people</li>
                                        <li>12 Councillors Slot</li>
                                        <li>3rd and 4th Batch Students</li>
                                        <li>College Progressing Stage</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="card__side card__side--back card__side--back-3">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Year</p>
                                        <p class="card__price-value">2022</p>
                                    </div>
                                    <!-- <a href="#popup" class="btn btn--white">VISIT</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="u-center-text u-margin-top-huge">
                    <a href="#" class="btn btn--green">Discover all record</a>
                </div> -->
            </section>

            <section class="section-stories">
                <div class="bg-video">
                    <video class="bg-video__content" autoplay muted loop>
                        <source src="img/video.mp4" type="video/mp4">
                        <source src="img/video.webm" type="video/webm">
                        Your browser is not supported!
                    </video>
                </div>

                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        Eligible Voters Of GCIT
                    </h2>
                </div>

                <div class="row">
                    <div class="story">
                        <figure class="story__shape">
                            <img src="img/student.jpg" alt="Person on a tour" class="story__img">
                            <figcaption class="story__caption">Student's</figcaption>
                        </figure>
                        <div class="story__text">
                            <h3 class="heading-tertiary u-margin-bottom-small">The student's of GCIT are the most important voters.</h3>
                            <p>
                                There are approximately 300 student's in GCIT including 198 males and 131 females, who are considered as 
                                major voters for this app. The student's eligible for councillor's post are selected first then rest of the 
                                student have to select and vote for their choose candidates. Student have been a honest and reliable voters
                                to choose the right leaders of GCIT since the start of the college.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="story">
                        <figure class="story__shape">
                            <img src="img/staff.jpg" alt="Person on a tour" class="story__img">
                            <figcaption class="story__caption">Staff's</figcaption>
                        </figure>
                        <div class="story__text">
                            <h3 class="heading-tertiary u-margin-bottom-small">The staff's of GCIT are also major part of this app.</h3>
                            <p>
                                Till now there are 44 teaching and 67 non-teaching staff in GCIT, they have also the right to involve 
                                in the voting session to select and choose right leaders of GCIT. The staff's of gcit have been 
                                participating in voting since the start of the college.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

        <section class="section-features">

        <section class="product"> 
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="teamtext">
                    MEET THE TEAM
                </h2>
            </div>

            <button class="pre-btn"><img src="img/arrow.png" alt=""></button>
            <button class="nxt-btn"><img src="img/arrow.png" alt=""></button>
            <div class="product-container">
                <div class="product-card">
                    <div class="product-image">
                        <img src="img/anisha.jpg" class="product-thumb" alt="">
                        <button class="card-btn">Anisha Rai</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Developer</h2>
                        <p class="product-short-description">Anisha is a developer with almost 3 years of experience.</p>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <img src="img/kezang.jpg" class="product-thumb" alt="">
                        <button class="card-btn">Kezang Dorji</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Developer</h2>
                        <p class="product-short-description">Also known as Lama Lama is a developer with almost three years of experience.</p>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <img src="img/ngawang.jpg" class="product-thumb" alt="">
                        <button class="card-btn">Ngawang Yeshey</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Product Owner</h2>
                        <p class="product-short-description">Ngawang is a product owner with three years of experience.</p>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <img src="img/team4.jpg" class="product-thumb" alt="">
                        <button class="card-btn">Gyeltshen Wangdi</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Backend Developer</h2>
                        <p class="product-short-description">Gyeltshen is a backend developer with almost three years of experience.</p>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <img src="img/Dema.jpg" class="product-thumb" alt="">
                        <button class="card-btn">Dema Lhamo</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Developer</h2>
                        <p class="product-short-description">Dema is a developer with almost three years of experience.</p>
                    </div>
                </div>

                <!-- <script>

                    const productContainers = [...document.querySelectorAll('.product-container')];
                    const nxtBtn = [...document.querySelectorAll('.nxt-btn')];
                    const preBtn = [...document.querySelectorAll('.pre-btn')];

                    productContainers.forEach((item, i) => {
                        let containerDimensions = item.getBoundingClientRect();
                        let containerWidth = containerDimensions.width;

                        nxtBtn[i].addEventListener('click', () => {
                            item.scrollLeft += containerWidth;
                        })

                        preBtn[i].addEventListener('click', () => {
                            item.scrollLeft -= containerWidth;
                        })
                    })

                </script> -->
            
        </section>

        </main>

        <footer class="footer">

            <div class="footer__logo-box">
                <picture class="footer__logo">
                    <source srcset="img/logo2.png 22x"
                            media="(max-width: 37.5em)">
                    <img srcset="img/logo2.png 28x" alt="Full logo" src="img/logo2.png">
                </picture> 
            </div>

            <div class="row">
                <div class="col-1-of-2">
                    <div class="footer__navigation">
                        <ul class="footer__list">
                            <li class="footer__item"><a href="#" class="footer__link">GCIT Website</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Contact us</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Carrers</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Privacy policy</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-1-of-2">
                    <p class="footer__copyright">
                        Built by <a href="#" class="footer__link">Group 13 of Fourth Year's</a> for the CSF202 project <a href="#" class="footer__link">Advanced CSS and Sass</a>.
                        Copyright &copy; by Group 13. You are 100% allowed to use this webpage for both personal
                        and commercial use, but NOT to claim it as your own design. A credit to the original author, Group 12
                        , is of course highly appreciated!
                    </p>
                </div>
            </div>
        </footer>

    </body>
</html>