


		<%- include('../partials/header') %>
<img class="wave" src="img/wave.png">
	<div class="container">
		<div class="img">
			<img src="img/bg.svg">
		</div>
		<div class="login-content">
			<form action="/newPassword" method ='post'>
				<img src="img/avatar.svg">
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>  New password</h5>
           		   		<input id ='password' class="input" type="password" name="password" required="">
					<input class="text" type="hidden" name="passwordToken" value="<%= passwordToken %>"  required="">
					
					<input class="text" type="hidden" name="userId" value="<%= userId %>" placeholder="Password" required="" class ='input'>
					<input type="submit"class = 'btn btn-outline-success' name="submit" value="update">
					 
           		   </div>
				 
				
           		</div>
           		
            	
            </form>
        </div>
    </div>
<%- include('../partials/footer') %>

		










